{% extends 'base.html' %}

{% block content%}
    <div class="py-5 text-center">
        <h2>Adicionar Empresa</h2>
    </div>

    <div class="container d-flex justify-content-center" style="padding-top:100px">
        <div class="col align-self-center">
            <form novalidate method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                    {{form.as_p}}
                <input class="btn btn-primary btn-lg btn-block" type="submit" value="Cadastrar"/>
            </form>
        </div>
    </div>
{% endblock content%}