{% extends 'base.html' %}

{% block content %}
<div class="container d-flex justify-content-around" style="padding-top:50px">
  <h1>Empresas</h1>
  <a class="btn btn-primary btn-lg active" role="button" aria-pressed="true"
         href="{% url 'core:company_create'%}" >Adicionar</a>
</div>
<div class="container d-flex justify-content-center" style="padding-top:50px">
 <table class="table table-striped">
    <thead>
      <tr>
        <td>Nome</td>
        <td>Ações</td>
      </tr>
    </thead>
    <tbody>
    {% for company in object_list %}
      <tr>
          <td><a href="{% url 'core:company_detail' pk=company.pk%}">{{ company.name}}</a></td>
          <td><a type="button" class="btn btn-secondary"
                  href="{% url 'core:company_update' pk=company.pk%}">editar</a>
          <a type="button" class="btn btn-danger"
                  href="{% url 'core:company_delete' pk=company.pk%}">excluir</a></td>
      </tr>
     {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}